<h1>アーティスト</h1>

<%= form_for(@artist) do |t| %>

<h4>アーティスト名</h4>
<%= t.text_field :artist_name %>

<%= t.attachment_field :artist_image %>

<%= t.submit '登録' %>

<% end %>

<% @artists.each do |artist| %>
<%= artist.artist_name %>
<%= attachment_image_tag artist, :artist_image, size: "100x100" %>
<% end %>