<h1>アーティスト新品商品</h1>
<div class="row">
  <div class="col-lg-3">
      <div class="artist-image">
        <%= attachment_image_tag @artist, :artist_image, size: "300x300" %>
      </div>
  </div>
  <div class="col-lg-9">
      <h2 class="artist-name"><p>(アーティスト名)</p>
        <%= @artist.artist_name %>
      </h2>
  </div>
</div>

      <h2>NEW</h2>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">


<% @items.each do |item| %>
        <div class="artist-list">
            <div class="item-image">
              <%= attachment_image_tag item, :item_image, size: "100x100", fallback: "no_image.jpg" %>
            </div>
            <div class="item-name">
              <%= item.item_name %>
            </div>
            <div class="artist-name">
              <%= item.artist.artist_name %>
            </div>
            <div class="item-price">
              <%= item.price %>
            </div>
            <div class="item-stock">
               <% if item.stock == 0 %>
                      <%= 'Sold Out' %>
                    <% else %>
                      <%= item.stock %>
                    <% end %>
            </div>
        </div>

<% end %>
    </div>
</div>