<div class="admin-user-edit">
 <h1 class="user-registration-title"><span class="label label-default">
 ユーザー編集</span></h1>
  <%=  form_for(@user) do |f| %>

		<%# パスワードを入力したい
		f.hidden_field :password %>

	<div class="field form-group">
		<%= f.label :last_name, "名前（姓）" %>
		<%=  f.text_field :last_name, :class => "form-control" %>
		<%= f.label :first_name, "名前（名）" %>
		<%=  f.text_field :first_name, :class => "form-control" %>
	</div>

	<div class ='field form-group'>
		<%= f.label :last_name_kana, "名前カナ（姓）" %>
		<%=  f.text_field :last_name_kana, :class => "form-control" %>
		<%= f.label :first_name_kana, "名前カナ（姓）" %>
		<%=  f.text_field :first_name_kana, :class => "form-control" %>
	</div>

	<div class ='field form-groupe'>
		<%= f.label :zip_code, "郵便番号" %>
		<%=  f.text_field :zip_code, :class => "form-control" %>
	</div>

	<div class ='field form-group'>
		<%= f.label :address, "住所" %>
		<%=  f.text_field :address, :class => "form-control" %>
	</div>

	<div class = 'field form-group'>
		<%= f.label :phone_number, "電話番号" %>
		<%=  f.text_field :phone_number, :class => "form-control" %>
	</div>

	<div class ='field form-group'>
		<%= f.label :email, "メール" %>
		<%=  f.text_field :email, :class => "form-control" %>
	</div>

    <div class="actions form-group">
		<%= f.submit '更新', :class => "btn btn-primary" %>
    </div>
 <% end %>
</div>