<h1>ユーザー編集</h1>
<%=  form_for(@user) do |f| %>
  <div class="form-group">
<%= f.label :last_name, "名前（姓）" %>
<%=  f.text_field :last_name %>
<%= f.label :first_name, "名前（名）" %>
<%=  f.text_field :first_name %>
</div>

<div class ='name_kana'>
<%= f.label :last_name_kana, "名前カナ（姓）" %>
<%=  f.text_field :last_name_kana %>
<%= f.label :first_name_kana, "名前カナ（姓）" %>
<%=  f.text_field :first_name_kana %>
</div>

<div class ='zip_code'>
<%= f.label :zip_code, "郵便番号" %>
<%=  f.text_field :zip_code %>
</div>

<div class ='address'>
<%= f.label :address, "住所" %>
<%=  f.text_field :address %>
</div>

<div class = 'phone_number'>
<%= f.label :phone_number, "電話番号" %>
<%=  f.text_field :phone_number %>
</div>

<div class ='email'>
<%= f.label :email, "メール" %>
<%=  f.text_field :email %>
</div>

<%= f.submit '更新' %>
<% end %>