<h2>お気に入り一覧</h2>

<div class = "item_favorite container" >
	<div class="row" >
	    <% @favorites.each do |favorite| %>
	    <div class="col-lg-4" >
	    <%= attachment_image_tag favorite.item, :item_image, size: '100x100' %>
	    <%= favorite.item.item_states %>/
	    <%= favorite.item.item_name %>/
	    <%= favorite.item.artist.artist_name %>/
	    <%= favorite.item.price %>円
	    </div>
	    <% end %>
    </div>
</div>
<div class="paginate">
	<%= paginate @items, class: "paginate" %>
</div>
