<p>購入履歴一覧</p>
    <% @histories.zip(@bought).each do |history,cart| %>
        <%= history.delivery.delivery_state %>
        <%= attachment_image_tag cart.item, :item_image, size: "100x100" %>
        <%= cart.item.item_name  %> /
        <%= cart.item.artist.artist_name %> /
        <p><%= history.bought_price %>円
	    <%= cart.cart_item %>枚</p>
        <%= history.created_at.strftime('%Y/%m/%d') %>
    <% end %>