<h1>管理者側：ユーザー詳細</h1>
<h1>ユーザー詳細</h1>

<div class = 'user_information'>
	<%= @user.last_name %>
	<%= @user.first_name %>
    <%= @user.last_name_kana %>
	<%= @user.first_name_kana %>
	<%= @user.zip_code %>
	<%= @user.address %>
	<%= @user.phone_number %>
	<%= @user.email %>
</div>

	<%= link_to "編集", admin_edit_path(@user.id) %>
	<%= link_to "削除", user_path(@user.id), method: :delete, "data-confirm" => "消しちゃうの？　　消さないで！ お願い！　100円あげるから！" %>