<h1>ユーザー詳細</h1>
<div class = 'user_information'>
	<ul>
		<li class="name">
			<h2> 姓　<%= @user.last_name %>
			　名　<%= @user.first_name %></h2>
		</li>
		<li class="name-kana">
			<h2> セイ　<%= @user.last_name_kana %>
			　メイ　<%= @user.first_name_kana %></h2>
		</li>
		<li class="zip">
			<h2> 住所　<%= @user.zip_code %></h2>
		</li>
		<li class="address">
			<h2> メールアドレス　<%= @user.address %></h2>
		</li>
		<li class="phone-number">
			<h2> 電話番号　<%= @user.phone_number %></h2>
		</li>
		<li class="email">
			<h2> 郵便番号　<%= @user.email %></h2>
        </li>
    </ul>

	<%= link_to "編集", admin_edit_path(@user.id), class: "btn btn-success admin_edit_#{@user.id}" %>
	<%= link_to "削除", user_path(@user.id), class: "btn btn-danger user_#{@user.id}", method: :delete, "data-confirm" => "本当に削除しますか？" %>

</div>

<h1>購入履歴一覧</h1>

		<div class = "user_purchase_history clearfix">
		  <% if @histories.exists? %>
			<% @histories.zip(@bought).each do |history,cart| %>
			    <div class="purchase_history">
				    <%= form_for history, :url => {:action => 'delivery_update'} do |f| %>
				    <%= f.hidden_field :id,:value => history.id %>
				    <%= f.select :delivery_id, @delivery.map{|t| [t.delivery_state, t.id]}, :prompt => "選択してください" %>
				    <%= f.submit '登録' %>
			<% end %>
				    <div class="show-item-image">
				        <%= attachment_image_tag cart.item, :item_image, size: "200x200", fallback: "no_image.jpg" %>
				    </div>
		            <div class="show-item-information">
				        <h4><%= cart.item.item_name  %></h4>
				    </div>
				    <div class="show-item-information">
				        <h4><%= link_to cart.item.artist.artist_name, artist_path(cart.item.artist.id) %></h4>
				    </div>
				    <div class="show-item-information">
				        <h4><%= history.bought_price %>円 </h4>
				    </div>
				    <div class="show-item-information">
					    <h4><%= cart.cart_item %>枚 </h4>
					</div>
					<div class="show-item-information">
				        <h4><%= history.created_at.strftime('%Y/%m/%d') %></h4>
				    </div>
			    </div>
			    <% end %>
		  <% else %>
			     <h1>購入履歴はありません</h1>
		  <% end %>
		</div>