<h1>管理者</h1>

<%= link_to "新品商品一覧", items_path %>

<%= link_to "中古商品一覧", index_used_items_path %>

<%= link_to "ユーザー一覧", users_path %>

<%= link_to "商品追加", new_item_path %>

<%= link_to "問い合わせ一覧", contacts_path %>
