	<div class="main-high">
		<p class="neon">N E W S E D</p>
        <div class="theTarget">
         <%= image_tag("img/test1.jpg") %>
         <%= image_tag("img/test2.jpg") %>
         <%= image_tag("img/test3.jpg") %>
         <%= image_tag("img/test4.jpg") %>
        </div>
    </div>

    <div class="main-box">
        <p class="description-text">NEWSEDとは・・(NEW+USED)の略で、<br> 新品と中古のディスク販売をしています！<br>
        品質を求める方、安さを求める方、<br>それぞれのニーズに合わせた商品を取り扱っています。</p>
    </div>

    <div class="main-low clearfix">
          <%= link_to items_path do %>
            <div class="new-index">
                	<p class="new-cd btn btn-default btn-lg">新品 CD一覧</p>
            </div>
          <% end %>
          <%= link_to index_used_items_path do %>
            <div class="used-index">
                    <p class="used-cd btn btn-default btn-lg">中古 CD一覧</p>
            </div>
          <% end %>
    </div>

<script>
	$(document).ready(function() {
        $(".theTarget").skippr();
    });

$(".theTarget").skippr({
    transition : 'fade',
    speed : 1500,
    easing : 'easeOutQuart',
    navType : 'bubble',
    childrenElementType : 'div',
    arrows : false,
    autoPlay : true,
    autoPlayDuration : 4500,
    keyboardOnAlways : true,
    hidePrevious : false
});
</script>