<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/skippr.css"> <!-- skipprのcssファイルを読み込む！ -->
	<link rel="stylesheet" href="css/style.css"> <!-- style.cssを読み込む！ -->
</head>
<body>
	<div class="main-high">
		<p class="neon">N E W S E D</p>
        <div class="theTarget">
         <%= image_tag("img/test1.jpg") %>
         <%= image_tag("img/test2.jpg") %>
         <%= image_tag("img/test3.jpg") %>
         <%= image_tag("img/test4.jpg") %>
        </div>
    </div>

    <div class="main-box">
        <p class="description-text">NEWSEDとは・・(NEW+USED)の略で、<br> 新品と中古のディスク販売をしています！<br>
        品質を求める方、安さを求める方、<br>それぞれのニーズに合わせた商品を取り扱っています。</p>
    </div>

    <div class="main-low clearfix">
        <div class="new-index">
            	<p class="new-cd"><%= link_to " 新品CD一覧", items_path %></p>
        </div>
        <div class="used-index">
                <p class="used-cd"><%= link_to " 中古CD一覧", index_used_items_path %></p>
        </div>
    </div>
</body>

<script>
	$("document").ready(function() {
        $(".theTarget").skippr();
    });

// オプションを指定してSkipprの実行
$(".theTarget").skippr({
    // スライドショーの変化 ("fade" or "slide")
    transition : 'fade',
    // 変化に係る時間(ミリ秒)
    speed : 2000,
    // easingの種類
    easing : 'easeOutQuart',
    // ナビゲーションの形("block" or "bubble")
    navType : 'block',
    // 子要素の種類("div" or "img")
    childrenElementType : 'div',
    // ナビゲーション矢印の表示(trueで表示)
    arrows : true,
    // スライドショーの自動再生(falseで自動再生なし)
    autoPlay : true,
    // 自動再生時のスライド切替間隔(ミリ秒)
    autoPlayDuration : 3000,
    // キーボードの矢印キーによるスライド送りの設定(trueで有効)
    keyboardOnAlways : true,
    // 一枚目のスライド表示時に戻る矢印を表示するかどうか(falseで非表示)
    hidePrevious : false
});
</script>
</html>
