<h1>商品編集</h1>


    <%= form_for(@item) do |f| %>

         <h4>ジャケット写真</h4>

    <%= f.attachment_field :item_image %>

        <ul class='create_item'>
          <li class="item_type">
             <label for="item_type">シングル or アルバム</label>
             <%= f.select :item_type, [["シングル", "シングル"], ["アルバム", "アルバム"]], :prompt => "選択してください" %>
          </li>

          <li class="item_states">
             <label for="item_states">新品 / 中古</label>
             <%= f.select :item_states, [["新品", "新品"], ["中古", "中古"]], :prompt => "選択してください" %>
          </li>

          <li class="item_name">
             <label for="item_name">タイトル</label>
             <%= f.text_field :item_name %>
          </li>

          <li class="artist_name">
            <label for="artist_name">アーティスト名</label>
            <%= f.select :artist_id, @artists.map{|t| [t.artist_name, t.id]} %>
          </li>

          <li class="lable_name">
            <label for="lable_name">レーベル</label>
            <%= f.select :lable_id, @lables.map{|t| [t.lable_name, t.id]} %>
          </li>

          <li class="genre_name">
            <label for="genre_name">ジャンル</label>
            <%= f.select :genre_id, @genres.map{|t| [t.genre_name, t.id]} %>
          </li>

          <li class="price">
             <label for="price">価格</label>
             <%= f.text_field :price %>
          </li>

          <li class="stock">
            <label for="stock">在庫数</label>
              <%= f.text_field :stock %> 枚
          </li>

          <div id="discs">
            <%= f.fields_for :discs do |disc| %>
            <%= render 'disc_fields', f: disc %>
            <% end %>
            <div id="links">
            </div>
          </div>

             <%= f.submit '送信', class: "btn btn-primary" %>
          </ul>

      <% end %>