<h1>新品商品一覧</h1>
    <div class="col-lg-12">
      <h2>NEW CD</h2>
      <table class="table table-hover table-inverse">

     <% @items.each do |item| %>
       <tr>
       	<td><%= attachment_image_tag item, :item_image, size: "100x100" %>
        <td>
           <%= link_to item.item_name, item_path(item.id) %>
        </td>
        <td>
          <%= link_to item.artist.artist_name, artists_path  %>
        </td>
        <td><%= item.price %></td>
        <td>
        <% if item.stock == 0 %>
        <%= 'Sold Out' %>
        <% else %>
        <%= item.stock %>
        <% end %>
        </td>
       </tr>
     <% end %>
    </table>
   </div>
