  <div id="sampleCarousel" class="carousel slide" data-ride="carousel">


        <ol class="carousel-indicators">
          <li class="active" data-target="#sampleCarousel" data-slide-to="0"></li>
          <li data-target="#sampleCarousel" data-slide-to="1"></li>
          <li data-target="#sampleCarousel" data-slide-to="2"></li>
        </ol>


        <div class="carousel-inner" role="listbox" style="height:400px;"  >
          <div class="item active picture">
            <img src="https://kabekin.com/uploads/converted/16/08/16/1476462164-kabekin5-LgkD-1440x900-MM-100.jpg" alt="First slide" style="height:400px;">
          </div>
          <div class="item picture">
            <img src="http://wallpoper.com/images/00/38/41/28/headphones-music_00384128.jpg" alt="Second slide" style="height:400px;">
          </div>
          <div class="item picture">
            <img src="https://images3.alphacoders.com/318/thumb-1920-31895.jpg" alt="Third slide" style="height:400px;">
          </div>
        </div>


        <a class="left carousel-control" href="#sampleCarousel" role="button" data-slide="prev">
          <span class="" aria-hidden="true"></span>
          <span class="sr-only">前へ</span>
        </a>


        <a class="right carousel-control" href="#sampleCarousel" role="button" data-slide="next">
          <span class="" aria-hidden="true"></span>
          <span class="sr-only">次へ</span>
        </a>


    </div>


  <div class="row clearfix">
      <div class="search-artist">
          <%= search_form_for @search, url: items_path do |f| %>
          <%= f.label :商品検索 %>
          <%= f.search_field :item_name_cont %>
          <%= f.submit "検索" %>
          <% end %>
      </div>
      <div class="col-lg-3">
        <% @rank.each.with_index(1) do |rank, i| %>
        <div class="rank">
          <h3 class="ranking"><%= "第#{i}位" %></h3>
          <%= rank.item_name %>
        </div>
        <% end %>
      </div>
      <div class="col-lg-9">
            <% @items.each do |item|%>
            <div class="item-list">
              <div class="item-image">
                 <%= attachment_image_tag item, :item_image, size: "100x100", fallback: "no_image.jpg" %>
              </div>
              <div class="item-name">
                 <p><%= link_to item.item_name, item_path(item.id) %></p>
              </div>
              <div class="artist-name">
                 <p><%= link_to item.artist.artist_name, artist_path(item.artist.id) %></p>
              </div>
              <div class="item-price">
                <p> ¥ <%= item.price %></p>
              </div>
              <div class="item-stock">
                  <% if item.stock == 0 %>
                    <%= 'Sold Out!!' %>
                  <% end %>
              </div>
            </div>

              <% end %>
      </div>
      <div class="paginate">
            <%= paginate @items, class: "paginate" %>
      </div>
  </div>
</div>
