<div class="header-box">
  <h1 class="new-header">N E W&nbsp;&nbsp;C D</h1>
</div>
<div class="main-box">
  <div class="search-artist">
      <%= search_form_for @search, url: items_path do |f| %>
      <%= f.label :商品検索 %>
      <%= f.search_field :item_name_cont %>
      <%= f.submit "検索" %>
      <% end %>
  </div>
  <% @rank.each do |rank| %>
  <div class="rank">
    <%= rank.item_name %>
  </div>
  <% end %>
  <div class="show-box">
      <table class="table table-hover table-inverse">
      <% @items.each do |item|%>
      <tr>
        <td><%= attachment_image_tag item, :item_image, size: "100x100" %>
        <td>
           <%= link_to item.item_name, item_path(item.id) %>
        </td>
        <td>
          <%= link_to item.artist.artist_name, artist_path(item.artist.id)  %>
        </td>
        <td><%= item.price %></td>
        <td>
        <% if item.stock == 0 %>
          <%= 'Sold Out' %>
        <% else %>
          <%= item.stock %>
        <% end %>
        </td>
       </tr>
      <% end %>
      </table>
      <%= paginate @items, class: "paginate" %>
  </div>
</div>


