<h1>追加商品</h1>

<%= form_for(@item) do |f| %>

	   <h4>ジャケット写真</h4>
	   <%= f.attachment_field :item_image %>

	<ul>
		<li class="item_type">
		   <label for="item_type">シングル or アルバム</label>
		   <%= f.select :item_type, [["シングル", "シングル"], ["アルバム", "アルバム"]], :prompt => "選択してください" %>
		</li>

		<li class="item_name">
		   <label for="item_name">タイトル</label>
		   <%= f.text_field :item_name %>
		</li>

		<li class="artist_name">
			<label for="artist_name">アーティスト名</label>
			<%= f.text_field :artist_id %>
		</li>

		<li class="price">
		   <label for="price">価格</label>
		   <%= f.text_field :price %>
		</li>

		<li class="lable_name">
			<label for="lable_name">レーベル</label>
			<%= f.text_field :lable_id %>
		</li>

		<li class="genre_name">
			<label for="genre_name">ジャンル</label>
			<%= f.text_field :genre_id %>
		</li>

		<h4>ディスク名</h4>

		<li class="stock">
			<label for="stock">在庫数</label>
		    <%= f.text_field :stock %> 枚
		</li>

		<li class="item_states">
		   <label for="item_states">新品 / 中古</label>
		   <%= f.select :item_states, [["新品", "新品"], ["中古", "中古"]], :prompt => "選択してください" %>
		</li>

		   <%= f.submit '商品登録' %>
    </ul>

<% end %>
