<h1>商品詳細</h1>
[CD<%= @item.item_type %>]
<%= @item.item_states %>
<%= @item.item_name %>
<%= attachment_image_tag @item, :item_image, size: '100x100' %>
<%= @item.artist.artist_name %>
<%= @item.price %>
<%= @item.lable.lable_name %>
<%= @item.genre.genre_name %>


<% @discs.each do |disc| %>
<%= disc.disc_name %>
<% end %>
<% @songs.each do |song| %>
<%= song.song_title %>
<% end %>
<div class="admin">
	<%= link_to "編集", edit_item_path(@item.id) %>
	<%= link_to "削除", item_path(@item), method: :delete, "data-confirm" => "消しちゃうの？　　消さないで！ お願い！　100円あげるから！" %>
</div>