<div class="container">
     <h1>商品詳細</h1>

      <div class="col-lg-5">
        <%= attachment_image_tag @item, :item_image, size: '400x400', fallback: "no_image.jpg" %>
        <div class="user-signed-in-menu">
    <% if current_user.present? %>
       <div class="cart-function">
          <%= form_for @cart_disc, url: cart_add_item_path(id: @item.id) do |f| %>
             <%= f.label :cart_item, "枚数の選択" %>
             <%= f.select :cart_item, [1,2,3,4,5,6,7,8,9,10] %>
             <%= f.submit 'カートに入れる' %>
           <% end %>
       </div>
       <div class="favorite-function">
        <% if @item.favorited_by?(current_user) %>
          <li>
            <%= link_to item_favorite_path(@item, current_user.favorites), method: :delete do %>
              <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
              <%= @item.favorites.count %>いいね
            <% end %>
          </li>
      <% else %>
          <li>
            <%= link_to item_favorites_path(@item), method: :post do %>
              <i class="far fa-heart"></i>
              <%= @item.favorites.count %>いいね
            <% end %>
         </li>
       <% end %>
    <% end %>
       </div>
     </div>
　　　　<div class="user-singed-in-menu">
        <% if user_signed_in? %>
          <% if current_user.admin == true %>
                <div class="admin">
                  <%= link_to "編集", edit_item_path(@item.id) %>
                  <%= link_to "削除", item_path(@item), method: :delete, "data-confirm" => "消しちゃうの？　　消さないで！ お願い！　100円あげるから！" %>
                </div>
          <% end %>
        <% end %>

          <div class="reviews-index">
            <h4 class="reviews-index-title">コメント一覧</h4>
               <% @item.reviews.each do |review|  %>
                  <div class = 'reviews'>
                     <h5><span class="label label-default">タイトル</span></h5>
                     <%= review.review_title %>
                     <h5><span class="label label-default">コメント</span></h5>
                     <%= review.review_text %>
            <% if user_signed_in? %>
                   <% if review.user_id == current_user.id %>
                     <%= link_to '削除', item_review_path(@item, current_user.reviews), method: :delete %>
                   <% end %>
            <% end %>
                  </div>
               <% end %>
          </div>
        </div>
      </div>


    <div class = 'col-lg-7'>
      <div class="item-detail">
        <h1>[CD<%= @item.item_type %>]</h1>
           <h2><%= @item.item_states %></h2>
         <h4><span class="label label-default">タイトル</span></h4>
           <h2><%= @item.item_name %></h2>

         <h4><span class="label label-default">アーティスト</span></h4>
           <h2><%= @item.artist.artist_name %></h2>

         <h4><span class="label label-default">価格</span></h4>
           <h2>¥<%= @item.price %></h2>

         <h4><span class="label label-default">レーベル</span></h4>
           <h2><%= @item.lable.lable_name %></h2>

         <h4><span class="label label-default">ジャンル</span></h4>
           <h2><%= @item.genre.genre_name %></h2>

            <% @item.discs.each do |disc| %>
               <%= disc.disc_name %>
                 <% disc.songs.each do |song| %>
                  <%= song.song_title %>
                 <% end %>
               <% end %>
      </div>

       <div class="review-create-form">
         <% if current_user.present? %>
             <%= form_for @review, url: item_reviews_path(item_id: @item.id) do |f| %>
               <div class = 'review'>
        　       <div>
                    <p>タイトル</p>
                    <%= f.text_field :review_title %>
                </div>
                <div>
                    <p>コメント</p>
                    <%= f.text_area :review_text %>
                </div>
                   <%= f.submit '送信' %>
             <% end %>
              </div>
        <% end %>
      </div>
    </div>
</div>






