<!DOCTYPE html>
<html>
  <head>
    <title>NEWSED</title>
    <link rel="stylesheet" href="css/skippr.css"> <!-- skipprのcssファイルを読み込む！ -->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

            <p class = "title-newsed"><%= link_to "NEWSED", top_path, :style=>"color:white;" %></p>

             <% if user_signed_in? %>
               <span class="user_first_name"><%= current_user.first_name %><%= current_user.last_name %> さん</span>
             <% end %>
      <nav>

              <ul class="nav-list">

            <% if user_signed_in? %>
                <li class="nav-list-item"><%= link_to "カート一覧", carts_path(current_user.carts), :style=>"color:white;" %></li>
                <li class="nav-list-item"><%= link_to " 新品一覧", items_path, :style=>"color:white;" %></li>
                <li class="nav-list-item"><%= link_to " 中古一覧", index_used_items_path, :style=>"color:white;" %></li>
                <li class="nav-list-item"><%= link_to " マイページ", top_users_path, :style=>"color:white;" %></li>
                <li class="nav-list-item"><%= link_to " ログアウト", destroy_user_session_path, method: :delete, :style=>"color:white;" %></li>
                <% else %>
                <li class="nav-list-item"><%= link_to " 新品一覧", items_path, :style=>"color:white;" %></li>
                <li class="nav-list-item"><%= link_to " 中古一覧", index_used_items_path, :style=>"color:white;" %></li>
                <li class="nav-list-item"><%= link_to " 会員登録", new_user_registration_path, :style=>"color:white;" %></li>
                <li class="nav-list-item"><%= link_to " ログイン", new_user_session_path, :style=>"color:white;" %></li>
                <% end %>
               </ul>
      </nav>

    </header>
　　　　<% if flash[:notice]%>
          <div class="flash">
            <%= flash[:notice]%>
          </div>
      <% end %>

    <%= yield %>
    <footer>
      <P class="contact-text"><%= link_to "お問い合わせ", contact_top_path, :style=>"color:white;" %></P>
          <p class="foter-text">CopyRight 2019 NEWSED All right reserved.</p>
    </footer>
  </body>
</html>
