<!DOCTYPE html>
<html>
  <head>
    <title>NEWSED</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

              <ul class="nav-list">
                <h1>NEWSED</h1>
            <% if user_signed_in? %>
                <li class="nav-list-item"><%= link_to " 新品一覧", items_path %></li>
                <li class="nav-list-item"><%= link_to " 中古一覧", index_used_items_path %></li>
                <li class="nav-list-item"><%= link_to " マイページ", top_users_path %></li>
                <li class="nav-list-item"><%= link_to " ログアウト", destroy_user_session_path, method: :delete %></li>
                  <%= button_to "ログアウト", destroy_user_session_path, method: :delete %>
                <% else %>
                <li class="nav-list-item"><%= link_to " 新品一覧", items_path %></li>
                <li class="nav-list-item"><%= link_to " 中古一覧", index_used_items_path %></li>
                <li class="nav-list-item"><%= link_to " 会員登録", new_user_registration_path %></li>
                <li class="nav-list-item"><%= link_to " ログイン", new_user_session_path %></li>
                <% end %>
               </ul>

    </header>
        </div>
      </nav>
    <%= yield %>
    <footer>
      <%= link_to "お問い合わせ", contact_top_path %>
          <p>CopyRight 2019 NEWSED All right reserved.</p>
    </footer>
  </body>
</html>
