<!DOCTYPE html>
<html>
  <head>
    <title>NEWSED</title>
    <link rel="stylesheet" href="css/skippr.css"> <!-- skipprのcssファイルを読み込む！ -->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

            <p class = "title-newsed"><%= link_to "NEWSED", top_path, :style=>"color:white;" %></p>

        <% if flash[:notice]%>
           <div class="alert alert-warning alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                  <span aria-hidden="true">×</span>
                </button>
                <strong>Info:</strong><%= flash[:notice]%>
                <p><a href="#" data-dismiss="alert">閉じる</a></p>
          </div>
        <% end %>

             <% if user_signed_in? %>
               <span class="user_first_name"><i class="fas fa-user-alt"></i>&nbsp;&nbsp;
                <%= current_user.last_name %><%= current_user.first_name %> さん</span>
             <% end %>
         <nav>
              <ul class="nav-list">
            <% if user_signed_in? %>
                <li class="nav-list-item"><i class="fas fa-shopping-cart" style="color: white;" ></i> 
                  <%= link_to "カート一覧", carts_path(current_user.carts), :style=>"color:white;" %></li>
                <li class="nav-list-item"><i class="fas fa-compact-disc" style="color: white;" ></i> 
                  <%= link_to " 新品一覧", items_path, :style=>"color:white;" %></li>
                <li class="nav-list-item"><i class="fab fa-old-republic" style="color: white;" ></i> 
                  <%= link_to " 中古一覧", index_used_items_path, :style=>"color:white;" %></li>
                <li class="nav-list-item"><i class="fas fa-home" style="color: white;" ></i> 
                  <%= link_to " マイページ", top_users_path, :style=>"color:white;" %></li>
                <li class="nav-list-item"><i class="fas fa-sign-in-alt" style="color: white;" ></i> 
                  <%= link_to " ログアウト", destroy_user_session_path, method: :delete, :style=>"color:white;" %></li>

            <% else %>

                <li class="nav-list-item"><i class="fas fa-compact-disc" style="color: white;" ></i> 
                  <%= link_to " 新品一覧", items_path, :style=>"color:white;" %></li>
                <li class="nav-list-item"><i class="fab fa-old-republic" style="color: white;" ></i> 
                  <%= link_to " 中古一覧", index_used_items_path, :style=>"color:white;" %></li>
                <li class="nav-list-item"><i class="fas fa-axe-battle" style="color: white;" ></i> 
                  <%= link_to " 会員登録", new_user_registration_path, :style=>"color:white;" %></li>
                <li class="nav-list-item"><i class="fas fa-sign-in-alt" style="color: white;" ></i> 
                  <%= link_to " ログイン", new_user_session_path, :style=>"color:white;" %></li>
            <% end %>
               </ul>
         </nav>
    </header>

    <%= yield %>

    <footer>
      <p class="contact-text"><%= link_to "お問い合わせ", contact_top_path, :style=>"color:white;" %></p>
      <p class="foter-text">CopyRight 2019 NEWSED All right reserved.</p>
    </footer>
  </body>
</html>
